@model ihalee.Models.Araba

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">TALEP EKLE</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form-Layouts</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- Row -->
            <div class="row">

                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">DETAYLAR</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" asp-controller="Araba" asp-action="Ekle" method="post">


                                @*<div class=" row mb-4">
                                <label for="inputName" class="col-md-3 form-label">Renk</label>
                                <div class="col-md-9">
                                <input type="text" name="Renk" class="form-control" id="inputName" >
                                </div>
                                </div>*@

                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">Araç Tipi</label>
                                    <div class="col-md-9">
                                        <input type="text" name="AraçTipi" class="form-control" id="inputName">
                                    </div>
                                </div>

                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">Marka</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Marka" class="form-control" id="inputName">
                                    </div>
                                </div>
                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">Model</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Model" class="form-control" id="inputName">
                                    </div>
                                </div>
                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">ModelYılı</label>
                                    <div class="col-md-9">
                                        <input type="number" name="ModelYılı" class="form-control" id="inputName">
                                    </div>
                                </div>
                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">YakıtTipi</label>
                                    <div class="col-md-9">
                                        <input type="text" name="YakıtTipi" class="form-control" id="inputName">
                                    </div>
                                </div>
                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">VitesTipi</label>
                                    <div class="col-md-9">
                                        <input type="text" name="VitesTipi" class="form-control" id="inputName">
                                    </div>
                                </div>
                                <div class=" row mb-4">
                                    <label for="inputName" class="col-md-3 form-label">MotorHacmi</label>
                                    <div class="col-md-9">
                                        <input type="number" name="MotorHacmi" class="form-control" id="inputName">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="form-label">Default Size Select</label>
                                    <select name="country" class="form-control form-select select2 select2-hidden-accessible" data-bs-placeholder="Select Country" tabindex="-1" aria-hidden="true">
                                        <option value="br">Brazil</option>
                                        <option value="cz">Czech Republic</option>
                                        <option value="de">Germany</option>
                                        <option value="pl" selected="">Poland</option>
                                    </select><span name="Renk" class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-country-um-container"><span class="select2-selection__rendered" id="select2-country-um-container" title="Poland">Poland</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>




                                <div class="mb-0 mt-4 row justify-content-end">
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Ekle</button>
                                        <button class="btn btn-secondary">İptal</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->
        <!--Row -->
        <!--End Row-->
        <!--Row -->
        <!--End Row-->
    </div>
    <!-- CONTAINER CLOSED -->

</div>
</div>
