@model ihalee.Models.Boyama

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Boyama</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoyamaID" />
            <div class="form-group">
                <label asp-for="Renk" class="control-label"></label>
                <input asp-for="Renk" class="form-control" />
                <span asp-validation-for="Renk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdaSayisi" class="control-label"></label>
                <input asp-for="OdaSayisi" class="form-control" />
                <span asp-validation-for="OdaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetreKare" class="control-label"></label>
                <input asp-for="MetreKare" class="form-control" />
                <span asp-validation-for="MetreKare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaslamaTarihi" class="control-label"></label>
                <input asp-for="BaslamaTarihi" class="form-control" />
                <span asp-validation-for="BaslamaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoyamaNiteligi" class="control-label"></label>
                <input asp-for="BoyamaNiteligi" class="form-control" />
                <span asp-validation-for="BoyamaNiteligi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

